/*https://css-tricks.com/video-screencasts/82-css-image-switcher/*/
/*http://www.css3maker.com/border-radius.html*/
/*http://jsfiddle.net/webskola/dpymawrt/*/


/* main config */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    width: 70%;
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}

ul
{
    list-style-type: none;
}

.header-line {
    border-top: 1px dotted #736357;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*header */
header {
    position: relative;
    background-color: #473a2d;
    height:100px;
}

.logo {
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.menu {
    position: relative;
    text-transform: capitalize;
    font-size: 110%;
}

.lang {
    text-transform: uppercase;
}

.menu-nav {
    position: absolute;
    right: 270px;
    top: -60px;
}

.menu-lang {
    position: absolute;
    right: 100px;
    top: -60px;
}

.menu-btn {
    color: white;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}

a:hover {
    background: #5b4d3b;
}

.vertical-line {
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: white;
    right: 245px;
    top: -75px;

}

/*section main*/
.main {
    background-image: url(../img/_DSC0211.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: local;
    background-size: cover;
    width: 100%;
    height: 60%;
    color: white;
}

.main-block {
    position: relative;
    height: 100%;
    width: 100%;
}

.beginning-block-title {
    position: absolute;
    top: 36.4%;
    left: 11%;
    background: rgba(0, 0, 0, 0.4);
    padding: 8px 12px 8px 12px;
}

.small-text span p {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    padding: 8px 12px 8px 12px;
}

.small-text-1 {
    top: 45%;
    left: 11%;
}

.small-text-2 {
    top: 52%;
    left: 11%;
}

.pictures-menu-block {
    position: absolute;
    left: 48%;
    width: 100%;
    height: 100%;
    bottom: 2%;
}

.pictures-menu {
    position: absolute;
    bottom: 0px;
}

.img-btn {
    display:inline-block;
    margin: 0px 5px 0px 0px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    text-decoration: none;
    background: #b0926d;
}

.img-btn:active {
    border: 2px solid #b0926d;
    background: #d9cabf ;
    z-index: 10;
}

/*section light-body*/
/*section services*/
.services {
    background-image: url(../img/services_backgroung.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: local;
    background-size: cover;
    width: 100%;
    height: 80%;
    color: #473a15;
}

.services-block {
    position: relative;
    height: 100%;
    width: 100%;
}

.services-block-title {
    height: 10%;
    width: 100%;
}

.services-title {
    position: absolute;
    left: 45%;
    top: 3%;
    color: #95782D;
}

.services-group {
    position: relative;
    height: 80%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align:center;
    margin-top: 50px;

}

.services-list {
    position: relative;
    width: 30%;

}

.block-1 {
    float: left;
    width: 30%;

}

.block-2 {
    display: inline-block;


}

.block-3 {
    float: right;
    width: 30%;


}

.services-icon {
    position: relative;
    margin: 1% 0 1% 1.6%;
    width: 50px;
    height: 50px;
    border: 1px dashed;

}

.services-sub-header-block {
    text-transform: uppercase;
    width: 70%;
    position: absolute;
    text-align: left;
    top: 15px;
    left: 20%;

}

.service-list {
    text-align: left;
    margin-top: 15px;
    margin-left: 30px;

}

.service-li:after {
    content: "";
    display: block;
    height: 1px;
    width: 15%;
    margin: 15px 0 15px 0;
    background: rgba(0, 0, 0, 0.2);
}

/*section prices*/
.prices {
    background-image: url(../img/prices_background.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: local;
    background-size: cover;
    width: 100%;
    height: 80%;
    color: #473a15;
    position: relative;
}

.prices-block-title {
    height: 10%;
    width: 100%;
}

.prices-title {
    position: absolute;
    left: 41%;
    top: 3%;
    color: #95782D;
}

.prices-block {
    margin-top: 50px;
    width: 100%;
    height: 100%;

}

.price {
    width: 45%;
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}
