* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px
}
body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}

header {
    background-color: #473a2d;
    height:100px;
}

img.logo {
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}

nav {
    float:right;
    padding-top: 35px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    text-transform: capitalize;
    font-size: 110%;
}

a {
    color: white;
    text-decoration: none;
    border-radius: 0px;
    padding: 10px 20px 10px 20px;
}

a:hover {
    background: #5b4d3b;
}

div.vertical_line {
    width: 1px;
    background-color: white;
    height: 70%;
    float: right;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

section.main {
    background-image: url(_DSC0211.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: local;
    background-size: cover;
    width: 100%;
    height: 50%;
    color: white;

}

section.main div {
    position: relative;
    left: 100px;
    top: 120px;
}

section.main div h1 {
    background: rgba(0, 0, 0, 0.4);
    display: inline-block;
}

section.main div p.small_text_1 {
    position: absolute;
    top: 30px;
    background: rgba(0, 0, 0, 0.4);
}

section.main div p.small_text_2 {
    position: absolute;
    top: 70px;
    background: rgba(0, 0, 0, 0.4);

}




