* {
    box-sizing: border-box;
}

header {
    background-color: #473a2d;
    height:100px;
}

img.logo {
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}

nav {
    float:right;
    padding-top: 35px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}

a {
    color: white;
    text-decoration: none;
    border-radius: 0px;
    padding: 10px 20px 10px 20px;
}

a:hover {
    background: #5b4d3b;
}

nav.lang a {
    text-transform: uppercase;
}

nav.menu a {
    text-transform: capitalize;
}

div.vertical_line {
    width: 1px;
    background-color: white;
    height: 70%;
    float: right;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}
